<body >
  <div  class="row justify-content-center align-items-center text-center ">
    <div class="col-10 col-lg-7 col-xl-5">
      <input type="text" value="submit" placeholder= "Search...." [(ngModel)]="searchtext" name="array id" class="form-control"><br>
    </div>
  </div>
  <section class="vh-100 gradient-custom-2">
   <div class="container py-5 h-100">
     <h1 style="color:black" style="font-size:30px;">Your Orders</h1>
     
     <button class="btn btn-secondary" (click)="all()">All</button><button (click)="placed()" class="btn btn-outline-secondary">Ordered</button><button (click)="inprogress()" class="btn btn-outline-secondary">Shipped</button><button (click)="Shipped()" class="btn btn-outline-secondary">Delivered</button><br>
     <span style="color:rgb(79, 78, 78);">Total Orders&nbsp;:&nbsp;</span><span style="color:black;font-weight: 800;">{{count}}</span>
     <div class="row d-flex justify-content-center  h-100 " >
       <div class="panel-body" *ngFor="let test of order | filter : searchtext ">  <br> 
       <div class="col-md-10 row cols-2 col-lg-8 col-xl-11" >
         <div *ngFor="let data of test.OrderData.OrderItems "> 
         <div class="card card-stepper" style="border-radius: 16px;border: 1px solid gray;">
           <div class="card-header p-4">
             <div class="d-flex justify-content-between align-items-center">
               <div>
                 <p class="text-muted mb-2"> Order ID&nbsp;:&nbsp; <span class="fw-bold text-body">{{data.prodId}}</span></p>
                 <p class="text-muted mb-0"> Place On&nbsp;:&nbsp;<span class="fw-bold text-body">{{data.date}}</span> </p>
                 <p class="text-muted mb-2"> TotalPrice&nbsp;:&nbsp; <span class="fw-bold text-body">{{data.Totalprice}}</span></p>
                
                </div>

               <div>
                 <h6 class="mb-0" (click)="anu(data)" style="color:blue;font-size: medium;
                 font-family: sans-serif;">View Details </h6>
               </div>
             </div>
           </div>
           <div class="card-body p-4">
             <div class="d-flex flex-row mb-4 pb-2">
               <div class="flex-fill" style="font-family: sans-serif;">
                 <h5 class="bold" style="font-family: sans-serif;font-weight: 700;font-size: large;">{{data.name}}</h5>
                 <p style="font-size: 15px;" class="text-muted">Quantity&nbsp;:&nbsp;{{data.qnt}}</p>
 
                 <h5 class="bold" style="font-weight: 500;font-size: 15px;">Status&nbsp;:&nbsp;{{data.OrderStatus}}</h5>
                 <h4 class="mb-3" style="font-weight: 700;font-size: 15px;"> price&nbsp;:&nbsp;{{data.price}} <span class="small text-muted"> </span></h4>
                 <span [hidden]="data.OrderStatus == 'Delivered'"> Time</span><span [hidden]="data.OrderStatus == 'Delivered'" style="font-size:large;padding-left: 1cm;"> :&nbsp;{{data.ApproximateTime}}</span>&nbsp;
                 <!-- <p class="text-muted">Tracking Status on: <span class="text-body"></span></p> -->
               </div>
               <div>
                 <img class="align-self-center img-fluid"
                   src="{{data.imgurl}}" width="250">
               </div>
             </div>
             <ul id="progressbar-1" class="mx-0 mt-0 mb-5 px-0 pt-0 pb-4">
               <li class="step0 active" id="step1"><span
                   style="margin-left: 22px; margin-top: 12px;">PLACED</span></li>
               <li class="step0 active text-center" id="step2"><span>SHIPPED</span></li>
               <li class="step0 text-muted text-end" id="step3"><span
                   style="margin-right: 22px;">DELIVERED</span></li>
             </ul>
           </div>
           <div class="card-footer p-4">
             <div class="d-flex justify-content-between">
               <h5 class="fw-normal mb-0" ><a style="text-align: center;font-size: large;" href="#!">Track</a></h5>
               <div class="border-start h-100"></div>
         
           
               
             </div>
     
         </div>
       </div>
     </div>
   </div>
   </div>
   </div>
   </div>
   
 </section>
 </body>